//Primary Colors
$primaryColor--black: rgba(50, 50, 50, 1);
$primaryColor--blue: rgb(0, 149, 255);
$primaryColor--silver: rgb(175, 175, 175);
$primaryColor--white: rgb(255, 255, 255); 

//Secondary Colors
$secondaryColor--darkBlack: rgba(0, 0, 0, 1);
$secondaryColor--darkBlack-50op: rgba(0, 0, 0, 0.5);
$secondaryColor--darkBlue: rgb(0, 101, 173); 
$secondaryColor--mercury: rgb(225, 225, 225); 
$secondaryColor--alabaster: rgb(250, 250, 250);

// Utility Colors
$error-color: rgba(210, 45, 45, 1);