@use './layouts' as l;
@use './colors' as c;

@mixin input-layout {
    height: l.$size-xl;
    padding-inline: l.$size-xs;
    border-radius: l.$size-xxs;
    display: flex;
    align-items: center;
    outline: none;
}

input:focus{
    outline: none;
}