@use '../../../styles/partials/' as p;

.input {
    display: flex;
    flex-direction: column;

    &__label {
        @include p.label
    }

    &__field {
        @include p.input-layout;
        background-color: p.$secondaryColor--alabaster;
        border: 1px solid p.$secondaryColor--mercury;
        min-width: 100%;
        max-width: 100%;
        height: p.px-to-rem(40);
        padding: p.$size-xs;

        &::placeholder {
            color: p.$primaryColor--black;
            @extend .body-copy;
            font-family: p.$font;
        }

    }
}