@use '../../../styles/partials/' as p;

.textArea {
    display: flex;
    flex-direction: column;

    &__label {
        @include p.label
    }

    &__field {
        @include p.input-layout;
        background-color: p.$secondaryColor--alabaster;
        border: 1px solid p.$secondaryColor--mercury;
        min-width: 100%;
        max-width: 100%;
        min-height: p.px-to-rem(100);
        max-height: p.px-to-rem(100);
        padding: p.$size-xs;

        @include p.breakpoint(tablet) {
            min-height: p.px-to-rem(40);
            max-height: p.px-to-rem(40);
        }

        &::placeholder {
            color: p.$primaryColor--black;
            @extend .body-copy;
            font-family: p.$font;
        }
    }

    &__upload {
        @extend .textArea__field;
        @include p.breakpoint(tablet) {
            min-height: p.px-to-rem(100);
            max-height: p.px-to-rem(100);
        }
    }
}

