@use '../../styles/partials/' as p;

.video-preview {
    padding: p.$size-xxs;
    border-radius: p.$size-xxs;
    
    &__container {
        display: flex;
        gap: p.$size-s;
        cursor: pointer;
        max-width: p.px-to-rem(352);
        

        @include p.breakpoint (desktop) {
            min-width: p.px-to-rem(352);
        }
        
    }

    &__img-container {
        max-width: p.px-to-rem(125);
        max-height: p.px-to-rem(75);
        
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: p.$size-xxs;
        background-color: p.$secondaryColor--mercury;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        @extend .subheader;
    }

    &__channel {
        @extend .body-copy;
    }

    &:hover {
        background-color: p.$secondaryColor--mercury;
    }
}