@use '../../../styles/partials/' as p;

.btnSecondary {
    @include p.input-layout;
    border: none;
    background-color: transparent;
    justify-content: center;
    max-width: p.px-to-rem(120);
    width: fit-content;
    cursor: pointer;
    padding-inline: 0;
    



    &__label {
        @extend .labels-buttons;
        text-transform: uppercase;
        color: p.$primaryColor--blue;
    }

    &:hover {
        background-color: p.$secondaryColor--mercury;
    }
}