@use '../../../styles/partials/' as p;

.btnSecondary {
    @include p.input-layout;
    border: none;
    background-color: transparent;
    justify-content: center;
    width: 100%;
    cursor: pointer;

    @include p.breakpoint(tablet){
        max-width: p.px-to-rem(120);
        width: fit-content;
        padding-inline: 0
    }


    &__label {
        @extend .labels-buttons;
        text-transform: uppercase;
        color: p.$primaryColor--blue;
    }

    &:hover {
        background-color: p.$secondaryColor--mercury;
    }
}