@use '../../styles/partials/' as p;

.display {
    display: block;
}

.displayNone {
    display: none;
}

.successMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: p.$size-l;
    gap: p.$size-s;
    background-color: p.$secondaryColor--mercury;
    border-radius: p.$size-xs;
}